/* Bootstrab Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
/* Barlow c */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Barlow c */
  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Bellefair */
  @import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
  }
  /*
  2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: 'Barlow Condensed', sans-serif;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
  5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
  6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
  7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
  8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
:root{
    --white: white;
    --light-gray: rgb(171, 174, 213);
    --gray: rgb(76, 76, 101);
}
  .attribution { 
    font-size: 16px; 
    text-align: center;
    padding: 24px;
    background: #202020;
    color: white;
   }
  .attribution a { 
    color: hsl(228, 45%, 44%);
   }
p{
  font-size: 16px;
  color: var(--light-gray);
  font-family: 'Barlow', sans-serif;
}
h1{
  font-family: 'Bellefair', serif;
}
.muted{
  color: var(--gray);
  font-weight: 500;
}
.upper{
  text-transform: uppercase;
}
.sub-header{
  font-family: 'Bellefair', serif;
  font-size: 32px;
}
.small-header{
  font-size: 60px;
  font-family: 'Bellefair', serif;
  font-weight: 200;
  text-transform: uppercase;
}
.main{
  min-height: 130vh;
  color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 3vw;
}
.index{
  background-image: url(assets/home/background-home-desktop.jpg);
}
.dest{
  background-image: url(assets/destination/background-destination-desktop.jpg);
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav-left{
  width: 40%;
  padding-left: 3vw;
  display: flex;
  align-items: center;
}
.nav-right{
  width: 60%;
  padding-right: 10vw;
  background: hsla(238, 100%, 91%, 0.2);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: end;
  gap: 3vw;
}
.link{
  text-decoration: none;
  color: var(--white);
  padding: 26px 0 23px 0;
  color: var(--light-gray);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
}
.num{
  font-weight: 700;
  color: var(--white);
}
.link.active{
  border-bottom: 3px solid var(--white);
}
.line{
  position: relative;
  height: 1px;
  background: var(--gray);
  width: 88%;
  left: 10%;
  z-index: 100;
}
.hero{
  margin: 0 8.5vw 0 10vw;
  display: flex;
}
.index .hero{
  min-height: 70vh;
  align-items: end;
}
.index .right{
  display: flex;
  justify-content: end;
}
.index .phar{
  width: 65%;
}
.heading{
  font-size: 140px;
  line-height: 120px;
  font-weight: 200;
  margin: 24px 0 60px 0;
  text-transform: uppercase;
}
.label{
  font-size: 32px;
  font-weight: 200;
  margin: 40px 0;
  margin-top: 80px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.left{
  width: 50%;
}
.right{
  width: 50%;
}
.explore{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  /* aspect-ratio: 1 / 1; */
  background: var(--white);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
/* Destination */
.dest-nav{
  margin-top: 8vw;
}
.dest-link{
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  margin-right: 24px;
  padding-bottom: 12px;
}
.dest-link.active{
  border-bottom: 3px solid var(--white);
}
.dest-line{
  height: 1px;
  width: 100%;
  background: var(--gray);
  margin: 60px 0 32px 0;
}
.dest .right{
  padding-left: 3vw;
}
.dest-flex{
  display: flex;
  gap: 2vw;
}
.dest .sub-header{
  margin-top: 12px;
}
.planet{
  margin: 4vw auto 0 auto;
  animation: rotation 30s infinite linear;
} 
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
/* Crew */
.main.crew{
  min-height: 100vh;
  background-image: url(assets/crew/background-crew-desktop.jpg);
}
.hero{
  height: 100%;
}
.crew .hero{
  display: flex;
  min-height: calc(calc(100vh - 76px) - 3vw);
}
.crew .hero .right{
  display: flex;
  align-items: end;
  justify-content: end;
}
.crew-image{
}
.btn-cont{
  margin-top: 24px;
}
.choose-crew{
  padding: 4px 11px;
  border-radius: 50%;
  background: var(--gray);
  /* border: 2px solid var(--gray); */
  margin-right: 8px;
  color: var(--gray);
  opacity: .5;
}
.choose-crew.crew-active{
  opacity: 1;
  background: var(--light-gray);
}
.crew-label{
  margin-bottom: 0;
  font-family: 'Bellefair', serif;
  color: var(--gray);
}
.crew .phar{
  width: 60%;
  height: 25vh;
  margin-top: 40px;
}
/* Technology */
.main.tech{
  background-image: url(assets/technology/background-technology-desktop.jpg);
  min-height: 100vh;
}
.tech .hero{
  min-height: calc(calc(100vh - 76px) - 3vw);
  margin-right: 0;
}
.tech .right{
  display: flex;
  justify-content: end;
  align-items: center;
}
.tech-image{
  height: 80%;
}
.tech-body{
  display: flex;
  gap: 5vw;
}
.tech-nav{

}
.tech-link{
  /* background: var(--gray); */
  padding: 18px 32px;
  margin-bottom: 40px;
  display: block;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid var(--gray);
  font-size: 24px;
  font-family: 'Bellefair', serif;
}
.tech-link.tech-active{
  background: var(--light-gray);
  color: black;
}
.tech .label{
  margin-bottom: 8vw;
}
.tech .phar{
  width: 60%;
}
/* Technology */
/* Extra large devices (large desktops, 1200px and up) */
@media (width < 1200px) {
  .heading{
    font-size: 80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (width < 992px) {
  .nav-right{
    padding-right: 2vw;
  }
  .hero{
    flex-direction: column;
    gap: 10vw;
    text-align: center;
  }
  .left{
    width: 100%;
  }
  .left .label{
    text-align: left;
  }
  .right{
    width: 100%;
    margin-bottom: 3vw;
    padding-left: 0;
    margin-left: 0 !important;
  }
  .dest-link{
    margin: 0 12px;
  }
  .explore{
    position: absolute;
    top: 40%;
    width: 180px;
    height: 180px;
  }
  .crew .phar{
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (width < 768px) {}

/* Small devices (landscape phones, 576px and up) */
@media (width < 576px) {}